:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  
  }
  
  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  
  .logo span {
    color: var(--color-primary);
  }
  
  .menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    /* position: sticky;
    top:0;
    z-index: 100; */
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 60px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 15px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  h2{
    justify-content: center;
    align-items: center;
    margin-left: 500px;
  }
.syctt{
    align-items: center;
    margin-top: 100px;
    /* padding-bottom: 20px; 
    /* padding-top: 20px;*/
    margin-left: 70px;
    margin-right: 70px;
    height: auto;
    width: 400px; 
    font-family: 'Times New Roman', Times, serif;
    color: #212b38;
    justify-content: center;
    /* background-image:  */


}
.scls{
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: #212b38;
    /* margin-left: 500px; */
}
.scu{
    font-family: 'Times New Roman', Times, serif;
  
    color: #212b38;
    margin-top: 80px;
    /* align-items: center;
    justify-content: center;
    align-content: center; */
    /* margin-left: 500px; */
}

  
  .hero {
    height: calc(100vh - 80px);
    background-image: url(bg.jpg);
    background-position: center;
  }
  html{
    scroll-behavior: smooth;
  }
  .scls #maindiv{
    height: 20%;
    border: 3px solid #000;
    display: flex;
    justify-content: space-around;
 }
 .lecName div{
     
     text-align: center;
    
 }
 .scls #msg{
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family:'Times New Roman', Times, serif ;
 }
 /* .updates{
  justify-content: center;
  text-align:center;
  margin-top: 40px;
} */
#UPDATES{
  justify-content: space-around;
  flex-wrap:wrap;
  box-shadow: 0 0 4px 3px black;
  width: 90%;
  height: 90%;
  text-align:left;
  padding: 1.5rem;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left:60px;
}
